:root {
    --roads: 386PX;
    --betBoard: 672px;
}

.scaleLogic {
    bottom: 8.5%;
}

.master {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

@media(max-width:1023px) {
    .desktopView {
        display: none;
    }
}

.mainNew {
    display: flex;
    width: calc(100% - 32px);
    width: calc(100% - 0px);

    align-items: end;
    justify-content: center;
}

.wrapper {
    display: grid;
    /* column-gap: 16px; */
    /* grid-template-columns: 333.33px 333.33px 333.33px; */
    grid-template-columns: var(--roads) var(--betBoard) var(--roads);
    width: calc(100% - 0px);
    box-sizing: border-box;
}

@media(min-width:1024px) {
    .wrapper {
        column-gap: 18px;
    }

    .scaleLogic {
        bottom: 48px;
    }
}

@media(min-width:1366px) {
    .scaleLogic {
        bottom: 60px;
    }
}

@media(min-width:1512px) {
    .scaleLogic {
        bottom: 72px;
    }
}

@media(min-width:1800px) {
    .mainNew {
        padding: 0;

    }
}


.roads {
    background: url(../public/Images/Common_desktopRaceTrack.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 100%;
}

.betBoard {
    background: url(../public/Images/CommonDesktopBetBoard.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 100%;

}

.rightRoads {
    background: url(../public/Images/CommonDesktopStats.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 386px;
}

@keyframes figmaComparison {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
@media(min-width:1023px) and (max-width:1026px) and (min-height:575px) and (max-height:577px) {
    body {}
 
    .master:after {
        content: "";
        position: absolute;
        background: url(../public/Images/1024FigmaDesign.png) no-repeat;
        background-size: 100% 100%;
        animation: figmaComparison 5s linear 1s infinite;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        transition: all 0.3s ease;
    }
}
 
@media(min-width:1365px) and (max-width:1367px) and (min-height:768px) and (max-height:770px){
     .master:after {
        content: "";
        position: absolute;
        background: url(../public/Images/1366FigmaDesign.png) no-repeat;
        background-size: 100% 100%;
        animation: figmaComparison 5s linear 1s infinite;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        transition: all 0.3s ease;
    }
}
@media(min-width:1511px) and (max-width:1513px) and (min-height:850px) and (max-height:852px){
      .master:after {
        content: "";
        position: absolute;
        background: url(../public/Images/1512FigmaDesign.png) no-repeat;
        background-size: 100% 100%;
        animation: figmaComparison 5s linear 1s infinite;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        transition: all 0.3s ease;
    }
}
@media(min-width:1799px) and (max-width:1801px) and (min-height:1012px) and (max-height:1014px){
      .master:after {
        content: "";
        position: absolute;
        background: url(../public/Images/1800FigmaDesign.png) no-repeat;
        background-size: 100% 100%;
        animation: figmaComparison 5s linear 1s infinite;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        transition: all 0.3s ease;
    }
}
