:root {
    --roads: 386PX;
    --betBoard: 672px;
}

.scaleLogic {
    bottom: 8.5%;
}

.master {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

@media(max-width:1023px) {
    .desktopView {
        display: none;
    }
}

.mainNew {
    display: flex;
    width: calc(100% - 32px);
    width: calc(100% - 0px);

    align-items: end;
    justify-content: center;
}

.wrapper {
    display: grid;
    /* column-gap: 16px; */
    /* grid-template-columns: 333.33px 333.33px 333.33px; */
    grid-template-columns: var(--roads) var(--betBoard) var(--roads);
    width: calc(100% - 0px);
    box-sizing: border-box;
}

@media(min-width:1024px) {
    .wrapper {
        column-gap: 12px;
    }

    .scaleLogic {
        bottom: 48px;
    }
}

@media(min-width:1366px) {
    .wrapper {
        column-gap: 16px;
    }

    .scaleLogic {
        bottom: 60px;
    }
}

@media(min-width:1512px) {
    .wrapper {
        column-gap: 18px;
    }

    .scaleLogic {
        bottom: 72px;
    }
}

@media(min-width:1800px) {
    .wrapper {
        column-gap: 22px;
    }
}

@media(min-width:1800px) {
    .mainNew {
        padding: 0;

    }
}


.roads {
    background: url(../public/Images/Common_desktopRaceTrack.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 100%;
}

.betBoard {
    background: url(../public/Images/CommonDesktopBetBoard.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 100%;

}

.rightRoads {
    background: url(../public/Images/CommonDesktopStats.png) no-repeat center bottom;
    width: 100%;
    background-size: contain;
    height: 386px;
}

@keyframes figmaComparison {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (width:1024px) and (height:576px) {
    .btnSection {
        background-color: red;
    }

    body {
        background: url(../public/Images/1024Figma.png) no-repeat;
        background-size: 100% 100%;
    }

    .master {
        animation: figmaComparison 1s linear 1s infinite;
    }
}
/* 
@media (min-width:1365px) and (max-width:1366px) and (min-height:768px) and(max-height:769px) {
    .btnSection {
        background-color: red;
    }

    body {
        background: url(../public/Images/1512Figma.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .master {
        animation: figmaComparison 1s linear 1s infinite;
    }
}

@media (width:1366px) and (height:769px) {
    body {
        background: url(../public/Images/1366Figma.png) no-repeat;
        background-size: 100% 100%;
    }

    .master {
        animation: figmaComparison 1s linear 1s infinite;
    }
} */